<% set_meta_tags :noindex => true, :nofollow => true %>

<h2>Send message to <%= @message.to %></h2>
<% semantic_form_for @message, :url => user_messages_path(current_user) do |f| %>
  <% f.inputs "Message" do %>
    <%= f.hidden_field :to %>
    <%= f.input :subject, :input_html => {:size => 60} %>
    <%= f.input :body, :input_html => { :class => 'autogrow', :rows => 15, :cols => 60, :hint_class => "warm-color inline-hints" }  %>
  <% end %>
  <%= f.buttons :commit %>
<% end %>
