<div>
  <% photos.each do |photo|%>
    <div>
      <%= link_to image_tag(photo.avatar.url(:medium)),  photo_path(photo) %>
      <%= photo.memo %>
      <div>
        <% if flow == "to" %>
          <%= flow %>: <%= link_to photo.receiver.name, user_path(photo.sender)  %>
        <% else %>
          <%= flow %>: <%= link_to photo.sender.name, user_path(photo.sender)  %>
        <% end %>
        <%= link_to "#{photo.comments.size} comments", photo_path(photo) %>
      </div>
    </div>
    <br />
<% end %>
</div>
