<% title "Edit User" %>

<%= semantic_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs "Basic", :id => "basic" do %>
    <p>
    <%= f.label :native_id, 'Speak'%><br />
    <%=select_tag 'user[native_ids][1]', options_for_select(Language.select_options) %>
    <%=select_tag 'user[native_ids][2]', options_for_select(Language.select_options),{ :include_blank => true } %>
    <%=select_tag 'user[native_ids][3]', options_for_select(Language.select_options),{ :include_blank => true } %>
    </p>
    <p>
    <%= f.label :practice_id, 'Practice'%><br />
    <%=select_tag 'user[practice_ids][1]',options_for_select(Language.select_options) %>
    <%=select_tag 'user[practice_ids][2]',options_for_select(Language.select_options),{:include_blank => true } %>
    <%=select_tag 'user[practice_ids][3]',options_for_select(Language.select_options),{:include_blank => true } %>
    </p>
  <% end %>
  <%= f.buttons :commit %>
<% end %>
