<% set_meta_tags :title => "#{@user.name} Profile",
:description => "#{@user.name} profile. #{@user.memo}",
:keywords => "Profile, #{@user.name}"
%>

<% if @user.is_owner?(current_user) %>
  <% @assigneds.each do |assign| %>
    <li class="padding-bottom-5">
      <%= region_flag(assign.receiver.country_name) %>
      <%= link_to_user_profile(assign.receiver) %>
      <% if assign.sent_at %>
        share photo last time at <%= assign.sent_at %>
      <% else %>
        is waiting your photo, expire days is <%= pluralize(assign.waiting_days, 'days') %>
      <% end %>
      <%= link_to "share photo", new_photo_path(:receiver_id => assign.receiver), :class => 'btn' %>
    </li>
  <% end %>
<% end %>

<br />
<h3 class="inline"><%= @user.name %> </h3>
<h4 class="inline"><%= "(This is you)" if @user.is_owner?(current_user)%></h4>
is a member live in <%= link_to_user_live(@user) %><%= region_flag(@user.country_name) %>,
hometown is <%= link_to_user_hometown(@user) %><%= region_flag(@user.hometown_country_name) %>

<p>
<%= link_to "Share photo to #{@user.name}", new_photo_path(:receiver_id => @user), :class => 'btn'  if current_user && current_user.share_photo_permission(@user) %>
<% if @user.is_owner?(current_user) %>
  <%= link_to "#{@user.name} sent friends", assigned_user_path(@user) %>
<% elsif current_user %>
  <%= link_to "Send Message to #{@user.name}", new_user_message_path(current_user, :to => @user.name) %><br />
<% end %>
</p>
<ul>
  <% if @user.is_owner?(current_user) %>
    <li>
    <%= link_to "edit profile", edit_user_path(:current) %>
    </li>
  <% end %>
  <li>
  <strong>speak:</strong>
  <span class="content-color"><%= @user.speak %></span>

  </li>
  <h4>About <%= @user.name %></h4>
  <%= full_format_content(@user.memo).html_safe%>
</ul>

<div class='float-left'>
  <h3><%= @user.name%> live in <%= link_to_user_live(@user) %></h3>
  <%= live_google_map(@user) %>
  <h3><%= @user.name %>'s sent map</h3>
  <div id='sent_chart_regions'></div>
  <%= raw @send_chart_regions.render('sent_chart_regions') %>

  <h3><%= @user.name %>'s receive map</h3>
  <div id='receive_chart_regions'></div>
  <%= raw @receive_chart_regions.render('receive_chart_regions') %>
</div>

<% if @user.be_watched_photo_permission(current_user)%>
  <div class="float-left margin-left-20">
    <h3>Received photos</h3>
    <%= render :partial => "users/photo_wall_cell", :locals => {:photos => @receive_photos, :flow => 'from'}%>
    <h3>Sent photos</h3>
    <%= render :partial => "users/photo_wall_cell", :locals => {:photos => @sent_photos, :flow => 'to'}%>
  </div>
<% end %>
