<% if current_user %>
  <p>
  You could start <%= link_to "Meet New Friend !!", assign_path, :class => 'btn' %> or
  <%= link_to "Edit your profile", edit_user_path(:current), :class => 'btn' %>
  </p>
<% end %>
<h2><%= APP_CONFIG["default_slogan"]%></h2>
<h3>
  What is outcircle for?
</h3>
<p>
Outcircle is a free way to extend our view, <br />
know the different things, meet the different friends around the world, <br />
because what we see change who we are. Hope you could join us and enjory it. <%= link_to "Join Us", new_user_path %>
</p>
<h3>
  How does it work?
</h3>
<ul>
  <li>
    You share a photo to one guy and you will receive at least one back from another friend
  </li>
  <li>
    More you share and more you receive
  </li>
  <li>
    That is it !!
  </li>
</ul>

<h3>
  People are sharing
</h3>
<marquee behavior="scroll" direction="down" scrollamount="2" height="400">
<% @photos.each_with_index do |photo, i|%>
  <div class="padding-bottom-5">
    <%= link_to_user_profile(photo.receiver) %>
    <%= region_flag(photo.receiver.country_name) %>

    receive a photo from
    <%= link_to_user_profile(photo.sender) %>
    <%= region_flag(photo.sender.country_name) %>

    <%= link_to image_tag(photo.avatar.url(:medium)),  photo_path(photo) %>
  </div>
<% end %>
</marquee>
