<!DOCTYPE html>
<html>
<head>
  <title>Outcircle - Extend our view</title>
  <meta content="make friends over the world" name="description" />
  <meta content="view,friends,world,foreigner" name="keywords" />
  <%= stylesheet_link_tag  'countries', 'scaffold', 'application', 'formtastic', 'formtastic_changes', :cache => true %>
  <%= csrf_meta_tag %>
   <script src='http://www.google.com/jsapi'></script>
  <%= google_analytics_script %>
</head>
<body>
  <div id="header">
    <%= link_to raw("<h1>(: Outcircle :)</h1>"), root_url %>
  </div>
  <div id="user_nav">
    <% if current_user %>
      <%= current_user.name %>
      <%= link_to "Meet New Friend !!", assign_path %> |
      <%= link_to "My Profile", user_path(current_user) %> |

      <%= link_to "MessageBox", user_messages_path(:current) %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Join Us", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag 'rails', "jquery.marquee.js", "application.js", :cache => true %>

</body>
</html>
