<!DOCTYPE html>
<html>
<head>
  <title>Exview</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag 'rails', "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(:current) %> |
      <%= link_to "Profile", user_path(current_user) %> |
      <%= link_to "Assign Me New Friend", assign_path %> |
      <%= link_to "MessageBox", user_messages_path(:current) %> |
      
      <%= current_user.name %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<%= yield %>

</body>
</html>
